/*  
 * 	1. Install Sass:
 * 	   For Windows, Mac or Linux through Node.js
 *		`npm install -g sass`
 * 
 * 	   For Mac OS X, through Homebrew
 * 		`brew install sass/sass/sass`
 *
 * 	2. Convert .scss to css:
 * 	    `sass style.scss style.css`
 *
 *		For continuous conversion use:
 * 		 `sass --watch style.scss:style.css`
 *
*/
$proceed: #7dc855;
$alert: #a94442;
$btn-opacity: 0.85;

$light-shadow: rgba(0,0,0,.05);
$btn-shadow: rgba(0,0,0,.1);
$proceed-base: rgba($proceed, $btn-opacity);
$alert-base: rgba($alert, $btn-opacity);

/* Global */
* {
    box-sizing: border-box;
}
 
body,
html {
    height: 100%;
    min-height: 100%;
}
 
body {
    font-family: 'Roboto',
    sans-serif;
    margin: 0;
    background-color: #e7e7e7;
    display: flex;
  	align-items: center;
  	justify-content: center;
}
/* Credit Card */
.credit-card {
    width:80%;
    max-width: 400px;
    height: 300px;
    margin: 60px auto 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 5px 3px 15px 20px $light-shadow;

	.form-header {
	    height: 60px;
	    padding: 20px 30px 0;
	    border-bottom: 1px solid #e1e8ee;
		
		/* Title */
		.title {
		    font-size: 18px;
		    margin: 0;
		    color: #5e6977;
		}
	}
	.form-body {
    	height: 340px;
    	padding: 2em 2em 1em;
		
		/* Common */
		.flexbox{
			display: inline-flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			padding:0 0.5em .5em;
			color: lightgrey;
			height: 50px;
			margin-bottom: 5px;

			.fab {
				color:#333;
			}
		}
		.card-number{
			height: 40px;
		    font-size: 18px;
		    font-weight: 100;
		    line-height: 14px;
		    opacity: .7;
		    color: #86939e;
		    width: 100%;
		    padding-left: 20px;
		    border: 2px solid #e1e8ee;
		    border-radius: 6px;
		}

		p{
			margin: 2px 0 3px;
			line-height:1.618;
		}
	}
	/* Buttons Section */
	.btn-container{
		width: 100%;
		height: 32.5px;
	    margin-top: 15px;

	    display: inline-flex;
	    justify-content: space-between;
	
	    button{
	    	cursor: pointer;
	    	width:40%;
	   		border-radius: 6px;
	    	font-size: 16px;
	    	text-transform: uppercase;

    		box-shadow: 2px 3px 5px 0px $btn-shadow;
		
			&.proceed-btn {
			   background: $proceed-base;
			   border-color: $proceed;
			}

			&.cancel-btn{
				background: $alert-base;
				border-color: $alert;
			}
	    }

	}
}

