<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Credit Card Validator</title>
</head>
<body>
  <form class="credit-card"">
    <div class="form-header">
      <h3 class="title">Credit card detail</h3>
    </div>
   
    <div class="form-body">
      <div class="flexbox">
        <i id="cc-icon" class="fab"></i>
      </div>
      <!-- Card Number -->
      <input    
        name="card-number" 
            type="text" 
            class="card-number"
        id="cardType" 
            placeholder="Enter your card number..." 
            autocomplete="cc-number"
        minlength="13"
        maxlength="19" 
        onkeypress="return checkVal(event);"
        onkeyup="numFormat(this.value);"
      />
      <p>&nbsp;</p>
      <!-- Buttons -->
      <div class="btn-container">
        <button type="button" class="proceed-btn" onclick="return submitVal()">Submit</button>
        <button type="button" class="cancel-btn">Cancel</button>
      </div>
    </div>
  </form>
</body>
<!-- <script src="https://kit.fontawesome.com/306b8eb97b.js"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

</html>
